[2015-02-27 16:26] joshbenner opened #1 "Stale NFS file handle"
Sometimes the application will stop working, and when I attempt `fig up`, it fails with the error "stale NFS file handle"

[2015-02-27 16:31] lmakarov opened #2 "Upgrade to docker 1.5"
Looks like [yungsang/boot2docker](https://vagrantcloud.com/yungsang/boxes/boot2docker) is not goint to get any further updates per https://github.com/YungSang/boot2docker-vagrant-box/issues/22.

Need to look for an alternative box or fork and update the one in use right now.

[2015-02-27 17:36] mkorostoff opened #3 "Errors during installation phase"
This is a report back on my first attempts to install this using the one-liner provided, e.g.

[code]

I am running Mac OSX 10.8.5, Homebrew 0.9.5, git 2.3.0, bash 3.2
## Error 1:

This error presented immediately upon first executing the script:

[code]
## Solution:

I ran `sudo brew link brew-cask` which worked
## Error 2:

[code]
## Solution:

N/A, this is a symptom of the previous error
## Err

[2015-02-27 17:59] mkorostoff opened #4 "How to test installation?"
## Problem/Motivation

It is not clear from the current README what functional goal this is meant to accomplish. (See [error/solution #10 in my previous issue thread](https://github.com/blinkreaction/boot2docker-vagrant/issues/3)).  Once you successfully install this, it is difficult to know what should happen next.  More generally, it is difficult to know what this does in a material, concrete wa

[2015-02-27 20:16] mkorostoff opened #5 "Make sure ~./bash_profile is not edited multiple times upon running install multiple times in a row"
After making multiple attempts to install docker using the one liner in README.md, I found that my `.bash_profile` file contained several instances of the same line, over and over:

[code]

[2015-02-28 19:27] lmakarov commented on #2
Switched to [dduportal/boot2docker](https://vagrantcloud.com/dduportal/boxes/boot2docker) for the base boot2docker box with NFS support. Docker server is now up-to-date at version 1.5.0

[2015-02-28 19:27] #2 closed, assigned to lmakarov

[2015-03-03 15:22] lmakarov commented on #1
This may be resolved with #2 (upgrade to a new vagrant box with docker 1.5.0).
Please test and report back

[2015-03-03 15:45] joshbenner commented on #1
New box with docker 1.5.0 seems to be working better so far.

[2015-03-03 15:45] #1 closed, assigned to lmakarov

[2015-03-04 19:57] lmakarov opened #6 "Prevent the box from being launched with sudo"
Vagrant should NOT be run as root (with sudo). Running it with sudo leads to further permission issues.
E.g. https://github.com/blinkreaction/docker-fig-drupal/issues/2

The fix is covered here https://github.com/blinkreaction/docker-fig-drupal/issues/2#issuecomment-76963964

To prevent this from happening for good we need a way to check for the user ID ("0" for root) early in the Vagrantfile and

[2015-03-05 15:26] joshbenner opened #7 "Vagrant box stores docker images/containers on same disk at boot2docker"
The typical boot2docker VM mounts boot2docker as an ISO (like a LiveCD), and mounts a separate disk (vmdk) for /var/lib/docker and /var/lib/boot2docker where it stores things like images, containers, and other docker-related state.

This arrangement allows for the boot2docker ISO to be updated without losing all the previously downloaded images or state.

Is it possible for the Vagrantfile to do s

[2015-03-13 16:19] haixiang opened #9 "Mac: Boot2docker stuck on "Mounting NFS shared folders" step"
If OSX firewall is turned on and "Block all incoming connections" setting is checked http://monosnap.com/image/N96ywNZf4FDLf8i2Y2xvp0slw8Y8w8.png - folders cannot be mounted and the script is stuck on the "Mounting NFS shared folders" step.
Disabling this setting resolves the issue.

[2015-03-16 14:51] lmakarov commented on #9
I would also recommend disabling "Stealth mode" if possible. This will substantially speed up the NFS mount process.

http://take.ms/X7fvo

[2015-03-16 14:51] #9 closed, assigned to nobody

[2015-03-17 17:01] lmakarov commented on #6
Resolved by https://github.com/blinkreaction/boot2docker-vagrant/commit/2cff4114cf412aac0162075ac2ae0ee6a0f992d7

[2015-03-17 17:01] #6 closed, assigned to nobody

[2015-03-31 21:25] lmakarov commented on #5
Resolved by https://github.com/blinkreaction/boot2docker-vagrant/commit/baadd5740397db2ff49fd19c3d9974e2984c3f0d

[2015-03-31 21:25] #5 closed, assigned to nobody

[2015-04-21 13:10] JoyceBabu opened #10 "client and server don't have same version"
I am getting the following error message

[code]

How can I upgrade docker on the VM?

[2015-04-22 09:31] JoyceBabu commented on #10
I was able to upgrade docker by downloading the binary directly

[code]

[2015-04-22 13:22] JoyceBabu commented on #10
That did not work as expected. The old version is restored when the VM is restarted.

[2015-05-02 01:09] webkenny opened #11 "Improve UX on existing packages when installing"
When you install this, and have Homebrew or Cask already installed, it throws two errors. These errors don't make the installation stop but UX can always be improved.

[code]

[2015-05-02 01:25] webkenny commented on #11
Actually there's really no need for this upon further testing. It reports it from the other packages.

[2015-05-02 01:25] #11 closed, assigned to nobody

[2015-05-06 22:58] brikis98 commented on #10
Same issue here.

[2015-05-07 15:56] lmakarov commented on #10
@JoyceBabu, @brikis98 I've pushed a new release [v0.12.0](https://github.com/blinkreaction/boot2docker-vagrant/releases/tag/v0.12.0) with the most recent updated from the develop branch. This bumps the docker server version to v1.6.0 which will match the most recent docker client version as of today.

You will have to do a `vagrant destroy`, then `vagrant up` after you update.
Keep in mind that fo

[2015-05-07 15:56] #10 closed, assigned to nobody

[2015-05-07 18:05] brikis98 commented on #10
Thanks!

[2015-05-08 19:19] brikis98 opened #13 "Sending build context to Docker daemon VERY slow"
Has anyone else found that if you run `docker build` with the boot2docker-vagrant setup, the portion that says "Sending build context to Docker daemon" takes a VERY long time?

[code]

The total size of the context is ~100MB, but it takes 5-10 min to get through that step. When I was using vanilla Boot2Docker, it only took a few seconds.

Any ideas what could cause that?

[2015-05-11 01:18] brikis98 commented on #13
OK, I think I've found the problem. I used [speedtest-cli](https://github.com/sivel/speedtest-cli) to test the network performance of a Docker container running on [boot2docker-vagrant](https://github.com/blinkreaction/boot2docker-vagrant):

[code]

So my upload speed is so bad that it can't even be measured. Anyone know why? Is there some Vagrant setting I'm missing? I found some of the typical r

[2015-05-11 01:35] brikis98 commented on #13
I found a fix in [this superuser discussion](http://superuser.com/questions/850357/how-to-fix-extremely-slow-virtualbox-network-download-speed):

[code]

Once I added this setting to my Vagrantfile, the upload speed on the Docker container matched that of my host OS, and the "Sending build context to Docker daemon" step runs very quickly now.

[2015-05-13 16:28] lmakarov commented on #13
@brikis98 great find!

The issue is the adapter type (intel) that VirtualBox is using by default.
boot2docker-cli/docker-machine does set the adapter type to `virtio` (`Paravirtualized Network` in VBox GUI) when it provisions a boot2docker VirtualBox VM.
The base box template I'm using does not do this.

I will modify the template to use `virtio` for all network interfaces.
In the mean time the wo

[2015-05-13 20:13] matthayes commented on #13
I wonder if this explains why loading images using `docker load -i blah.tar` is so slow for me.  When using boot2docker an image was loading easily within 20-30 seconds.  With boot2docker-vagrant it is so slow I'm not sure whether it is even doing anything.  I gave up waiting for it to complete.  Something else I noticed is that the CPU usage of VirtualBox during this time is around 2%, where norm

[2015-05-29 18:11] grugnog commented on #7
The way I handled this (on a separate boot2docker vagrant approach) was to run a docker registry as a container, set up to mirror/cache downloads. Then I can point that at a specific folder that is mounted on the host, rather than inside boot2docker. The other approach would be to alter the boot2docker Vagrant image itself so that the docker state can be mounted externally - not sure how easy this

[2015-05-29 20:44] zabojad opened #15 "local image not found"
The command `vagrant up` fails on pulling local images (even when those images have been built with boot2docker).

[code]

What's wrong ?

[2015-05-29 21:34] lmakarov commented on #15
@zabojad what does `docker images` say?

[2015-05-30 07:20] zabojad commented on #15
@lmakarov it says this:

[code]

And those images work fine with boot2docker / docker-compose up (without vagrant).

[2015-05-30 14:35] lmakarov commented on #15
@zabojad sounds like you may have both boot2docker and boot2docker-vagrant used at the same time.

Try `boot2docker stop`, then `export DOCKER_HOST=tcp://localhost:2375` (this will point your docker client to the boot2docker-vagrant VM) and then `docker images`.

[2015-05-30 15:46] zabojad commented on #15
[code]

What should I do then ?

[2015-05-31 17:21] lmakarov commented on #15
@zabojad that means that you either do not have boot2docker-vagrant running at all or there was a port conflict (e.g. stock boot2docker was running when you launched boot2docker-vagrant) and vagrant automatically fixed this by assigning different ports, this way `tcp://localhost:2375` would no longer be a valid endpoint.
1. Shutdown all VirtualBox VMs
2. `vagrant up` in the folder where you instal

[2015-06-01 17:27] joshbenner commented on #15
Also note, if you had boot2docker, it may have set other env vars which may need to be removed. We had seen one issue caused by a lingering docker TLS env var from boot2docker init.

[2015-06-02 15:46] lmakarov opened #16 "Disable VirtualBox default DHCP"
The issues and a workaround were pointed out in https://github.com/blinkreaction/drude/issues/20

This may require altering the base box packer template, doing this manually (as described in https://github.com/blinkreaction/drude/issues/20) or firing up a vboxmanage command in setup.sh

[2015-06-06 13:16] lmakarov commented on #15
@zabojad do you still have this issue?

[2015-06-08 14:41] lmakarov opened #17 "Make bash available inside boot2docker's tinycore"
**Motivation**
tinycore comes with busybox, which also has an alias for `sh`, but not `bash`.

Bash scripts cannot be run inside a boot2docker VM.
Changing the script header from `#!/bin/bash` to `#!/bin/sh` fixes the issue.

However here come another problem. The `sh` implementation in busybox is closer to bash than to `sh`.
Scripts with `#!/bin/sh` header may run fine fine on tinycore, but will

[2015-06-10 17:41] yograterol opened #18 "How change the default IP"
AT the office the network is 192.168.10.*, and the VB IP is the same range, how I can change the default IP?

[2015-06-10 20:05] lmakarov commented on #18
@yograterol the default IP and subnet is currently hardcoded in the base image.

You will have to alter the Vagrant file to override that:
1. Add `config.vm.network "private_network", ip: "<192.168.xx.10>", id: "default-network"` below [this line](https://github.com/blinkreaction/boot2docker-vagrant/blob/master/Vagrantfile#L100)
2. Update the IP on [this line](https://github.com/blinkreaction/boot

[2015-06-10 20:56] yograterol commented on #18
@lmakarov excellent!! :) We need add that line in the Vagrantfile, my team love this tool.

[2015-06-10 20:56] #18 closed, assigned to nobody

[2015-06-10 21:46] lmakarov opened #19 "Make the default hostonly network IP configurable"
The original request and workaround discussed in https://github.com/blinkreaction/boot2docker-vagrant/issues/18

[2015-06-18 15:50] #17 closed, assigned to nobody

[2015-06-18 19:57] lmakarov commented on #15
Closing for the lack of feedback. Feel free to reopen if the issue reoccurs.

[2015-06-18 19:57] #15 closed, assigned to nobody

[2015-06-18 20:00] lmakarov commented on #13
Resolved in https://github.com/blinkreaction/boot2docker-vagrant/commit/ef09ddddcb0488a8a08fa20d268782bc52cebd67
Released in [v0.13.0](https://github.com/blinkreaction/boot2docker-vagrant/releases/tag/v0.13.0)

[2015-06-18 20:00] #13 closed, assigned to lmakarov

[2015-06-23 14:05] davenuman opened #20 "client and server don't have same version (client : 1.19, server: 1.18)"
After running the setup.sh we're seeing this error regarding client-server version mismatch:

[code]

So I assume we either need to downgrade the docker client, or upgrade the vagrant box docker server.

[2015-06-23 14:45] lmakarov commented on #20
I was waiting for Docker 1.7.1 to be released and fix the issues in the humongous 1.7.0 release :D

Short-term - downgrade the client version to 1.6.x to match the server version.
Long-term - there will be a boot2docker-vagrant box with docker v1.7.0, but the update is not trivial this time - https://github.com/dduportal/boot2docker-vagrant-box/issues/23

[2015-06-23 15:23] davenuman commented on #20
thanks @lmakarov for this info. We'll try the workaround for now.

[2015-06-23 18:35] lmakarov opened #21 "NFS mount fails with "Client credential too weak" error"
NFS mount fails with `mount: RPC: Authentication error; why = Client credential too weak` on Mac.

[2015-06-23 18:37] lmakarov commented on #21
Possible solution:

Add the following to `/etc/nfs.conf`:

[code]

Then restarting the nfs daemon with:

[code]

Credits to: https://gist.github.com/sirkkalap/40261ed82386ad8a6409#comment-1433482

[2015-06-25 16:06] thnkloud9 opened #23 "machine dies and reports "aborted" state in VirtualBox"
vagrant up reports:

ringing machine 'boot2docker' up with 'virtualbox' provider...
==> boot2docker: Importing base box 'blinkreaction/boot2docker'...
==> boot2docker: Matching MAC address for NAT networking...
==> boot2docker: Setting the name of the VM: Sites_boot2docker
==> boot2docker: Clearing any previously set network interfaces...
==> boot2docker: Preparing network interfaces based on conf

[2015-06-25 19:40] lmakarov commented on #23
Hi @thnkloud9, you will have to debug this:

**Enable VirtualBox GUI**
Open `vagrant.yml` and set `v.gui: true`, then `vagrant reload`
This will bring up the VM console. Look for clues there.

**Debug option in vagrant**
Do `vagrant up --debug` all look though the log for possible clues.

[2015-07-02 17:46] davenuman commented on #20
resolved, thanks

[2015-07-02 17:46] #20 closed, assigned to lmakarov

[2015-07-03 22:02] zakariaboualaid opened #26 "'docker ps' from the host"
I wasn't able to run 'docker ps' or use any docker-compose command from my Mac, I need to vagrant ssh to do that.. any help ?

This is where I setup boot2docker-vagrant :

-- <== here (vagrant.yml, Vagrantfile)
-- code_base
-------- docker-compose.yml

[2015-07-05 15:39] achekulaev commented on #26
Can you provide an output of 'docker ps' and 'docker-compose ps' Zakaria?

[2015-07-07 13:45] lmakarov commented on #23
ping @thnkloud9

[2015-07-07 13:46] #21 closed, assigned to nobody

[2015-07-07 15:44] thnkloud9 commented on #23
Hey, sorry, I never got this running.  I ended up using a modified version of boot2docker based on http://blog.blackfire.io/how-we-use-docker.html

but I suspect the issue I was having was possibly this: https://github.com/boot2docker/boot2docker/issues/824#issuecomment-113904164

[2015-07-07 15:44] #23 closed, assigned to nobody

[2015-07-08 21:00] brolag opened #27 "Permission Denied while mounting NFS shared folders"
Hi,

I'm getting this output when trying to set a boot2docker-vagrant instance. Can you please recommend what can I do in this case?

https://gist.github.com/anonymous/780f7fc28b44d7e393f8

Thanks,

Alfredo.

[2015-07-08 21:12] lmakarov commented on #27
Hi @Brolag,

Please post here the output from `cat /etc/exports` and `showmount -e`

[2015-07-08 21:14] brolag commented on #27
Hi @lmakarov,

Thanks for your quick answer, here is the output:

[code]

---

[code]

[2015-07-08 21:27] lmakarov commented on #27
@Brolag
1. Remove `/Users/alfredo -alldirs -mapall=alfredo -network 192.168.59.0 -mask 255.255.255.0` from your `/etc/exports`
2. `sudo nfsd restart`
3. `vagrant reload`

Where did you get that record from? It overlaps/conflicts with the one set by Vagrant.
By the IP address (192.168.59.0) I can guess you were trying to set NFS mounts up manually with the stock boot2docker? :)

[2015-07-08 21:35] brolag commented on #27
@lmakarov, done, but still getting the permission denied error. https://gist.github.com/Brolag/c535312c56285eb554c2

cat exports

"/Users/alfredo/workspace/gn2" 192.168.10.10 -alldirs -mapall=501:20

showmount -e

Exports list on localhost:
/Users/alfredo/workspace/gn2        192.168.10.10

And yes, I tried it manually as part of a workaround I found to try to solve the issue.

[2015-07-08 22:23] lmakarov commented on #27
@Brolag It is pretty unlikely, that the box IP would be different, but can you please check that it is indeed `192.168.10.10`?

[code]

Also try the following (one at a time, `vagrant reload` in-between attempts):
- disable the firewall on your Mac
- change 'tcp' to 'udp' in the following [line](https://github.com/blinkreaction/boot2docker-vagrant/blob/master/Vagrantfile#L115)

[2015-07-09 13:03] brolag commented on #27
@lmakarov,

This is the output of the first command:
MacBook-Pro-de-Alfredo:gn2 alfredo$ vagrant ssh -c 'ifconfig | grep 192.168.10.10'
Connection to 127.0.0.1 closed.

This is my routing table
https://gist.github.com/Brolag/74eb51584e592177cb18

The other steps didn't work.

[2015-07-09 13:06] lmakarov commented on #27
@Brolag looks like the box IP address is wrong (not 192.168.10.10).
Please do a full `vagrant ssh -c 'ifconfig'`.

There should be something similar to this

[code]

Have you modified the Vagrantfile?

[2015-07-09 13:14] brolag commented on #27
@lmakarov I haven´t modified it.

[code]

[2015-07-09 14:03] lmakarov commented on #27
For whatever reason the box is using the stock boot2docker IP range (192.168.56.x) ...
Open VirtualBox Preferences => Network => Host-only Networks and remove all adapters - http://take.ms/ITjc4. Next do a `vagrant reload`.

[2015-07-09 15:33] brolag commented on #27
@lmakarov awesome! mounting is working fine now! Thanks a lot!

[2015-07-09 18:18] lmakarov commented on #27
@Brolag I'm glad this works for you now :)

[2015-07-09 18:18] #27 closed, assigned to nobody

[2015-07-19 02:05] lmakarov commented on #26
@ZakariaBoualaid do you still have issues with this?

[2015-07-20 20:52] keelahnkhan opened #29 "OSX doesn't read ~/.bashrc by default"
I'm setting up a new user on my OSX box to use this and since it was so new, there wasn't a `~/.bashrc` or `~/.bash_profile` setup yet. OSX only reads `~/.bash_profile` when creating a new tab, which CAN then have the following in it to load the `~/.bashrc`, but  `~/.bash_profile` doesn't exist by default either.

[code]

I'd recommend throwing an error if `~/.bashrc` doesn't already exist, and th

[2015-07-21 03:49] yoanisgil opened #30 "Support for Docker 1.7.1 and Compose 1.3.3"
I was wondering if an upgrade to the latest stable version of docker/compose could be considered? I can put together a PR if this is something others my find useful.

I was also wondering if there should be a mechanism/option to easily do this without putting together a PR ever any of those components are updated

[2015-07-21 13:53] achekulaev commented on #29
Thanks. We've noticed this problem too. In the development branch we've already changed it to use .bash_profile. There's still work in progress on dev branch. When it's done it will be merged into master
https://github.com/blinkreaction/boot2docker-vagrant/blob/develop/setup.sh

[2015-07-21 22:08] frankcarey opened #31 "Conflicts with default drude settings"
### Issue

Installing drude causes this to be installed, but there is a conflict that causes the error:

### Diagnosing

ssh into the boot2docker VM w/ vagrant

[code]

check the listening ports

[code]

You should then be able to see what's listening on port 443, which in this case is the docker-proxy (aka vhost_proxy)
### Fix

Disable the vhost_proxy in the vagrant.yml file (usually up one level

[2015-08-01 07:41] angelcoding opened #32 "NFS on Windows"
Is it possible to allow the option of NFS on windows via the vagrant-winnfsd plugin?
https://github.com/winnfsd/vagrant-winnfsd

[2015-08-01 16:53] kyleskrinak commented on #9
I'm wondering if [lmakarov's](https://github.com/lmakarov) "disable stealth mode" OSX instruction is important enough to put one your configuration instructions. Making this change has reduced my mount time from 120 seconds-ish to 8 seconds. Also, FWIW, a recent `brew update` broke my NFS mounting process, somehow, causing it to halt on the mount step. Reloading the script in the automatic install

[2015-08-06 05:58] lmakarov commented on #30
Hi @yoanisgil, updating docker client and docker-compose versions on a Mac host can easily be performed by changing version numbers inside the presetup-mac.sh script and re-running it.
See this PR: https://github.com/blinkreaction/boot2docker-vagrant/pull/33

As for the docker host side (the actual VM) - versions are currently built into the vagrant base box, which is maintained outside of this pr

[2015-08-06 06:13] lmakarov commented on #32
Hi @angelcoding I've been experimenting with NFS on Windows (including vagrant-winnfsd). It was very frustrating and never worked for me.
I'd recommend either using smb/smb2 or rsync options on Windows.

[2015-08-06 06:30] gaboesquivel commented on #30
one should always look for a develop branch I guess.. however perhaps a [contribute.md](https://github.com/blog/1184-contributing-guidelines) and contribute/collaborate section in readme are required

[2015-08-06 07:25] angelcoding commented on #32
@lmakarov Funny. I've so far had the opposite experience - loads of problems with SMB and absolutely no problems with vagrant-winnfsd. What exactly didn't work? Was it too slow?

I've not yet benchmarked winnfsd and I read somewhere that in certain situations it can be slower than even vboxsf but I guess there might be potential to improve - plugin development seems quite active.

Seems a shame to

[2015-08-06 08:51] lmakarov commented on #32
@angelcoding I do not remember the details other than I tried it hard and it did not work...
Do you think you can put together a PR and/or setup instructions?

[2015-08-26 13:18] lmakarov commented on #30
The current latest version [v1.0.0-rc2](https://github.com/blinkreaction/boot2docker-vagrant/releases/tag/v1.0.0-rc2) includes Docker 1.8.1 and Docker Compose 1.4.0.

[2015-08-26 13:18] #30 closed, assigned to nobody

[2015-08-26 13:27] lmakarov commented on #29
Fixed in https://github.com/blinkreaction/boot2docker-vagrant/commit/c307923601f4b6a4dc59bcd81d630483845e5a40 and included in the most recent releases.

[2015-08-26 13:27] #29 closed, assigned to nobody

[2015-08-26 13:27] lmakarov commented on #26
Closing for the lack of feedback.

[2015-08-26 13:27] #26 closed, assigned to nobody

[2015-08-26 13:30] lmakarov commented on #3
Closing as outdated.
The setup process is pretty straightforward now and was tested on a fresh Yosemite 10.10.5.

[2015-08-26 13:30] #3 closed, assigned to nobody

[2015-08-26 14:06] lmakarov commented on #31
Fixed in Drude [v1.0.0-rc1](https://github.com/blinkreaction/drude/releases/tag/v1.0.0-rc1)

[2015-08-26 14:06] #31 closed, assigned to nobody

[2015-08-26 15:05] lmakarov commented on #16
Disable (remove) the default DHCP server via command line

[code]

[2015-08-27 06:21] lmakarov opened #38 "DNS service discovery with dnsdock"
With [dnsdock](https://github.com/tonistiigi/dnsdock) each container can be addressed by a descriptive DNS name, which resolves to it's docker internal network IP. This solves potential circular reference issues with the stock container linking (e.g. service-a => service-b, service-b => service-c, service-c => service-a).

dnsdock will also replace both dnsmasq and nginx-proxy micro-services. This

[2015-09-16 18:54] lmakarov commented on #32
@achekulaev could you please share your recent experience trying to get vagrant-winnfsd working?

[2015-09-16 19:37] achekulaev commented on #32
vagrant-winnfsd doesn't work properly with assigned IP. At least not out-of-the box. I'm still struggling to get it to work

[2015-09-22 19:30] achekulaev opened #43 "Install vagrant plugins during boot2docker installation"
Append installation of vagrant plugins to boot2docker installation or otherwise they get installed on first vagrant run which breaks that first run.

[2015-09-22 20:58] lmakarov commented on #43
I'm no longer able to reproduce the issue. Both Mac and Windows install vagrant plugins properly on the first run prior to proceeding with the VM boot. Closing.

**On Mac**

[code]

**On Windows**

[code]

[2015-09-22 20:58] #43 closed, assigned to lmakarov

[2015-09-24 07:19] jvandesande opened #44 "Add cachefilesd deamon to increase nfs/samba performance"
I think it's a good idea to (optionally) use the cachefilesd deamon to give an extra boost to NFS and SMB performance (via the "fsc" mount options). See this boot2docker issue for installation instructions inside the boot2docker VM:

https://github.com/boot2docker/boot2docker/issues/581#issuecomment-127972657

[2015-09-24 07:20] gnoesiboe commented on #44
+1

[2015-09-24 20:14] lmakarov commented on #44
Here's a feature branch with cachefilesd for NFS and SMB
https://github.com/blinkreaction/boot2docker-vagrant/tree/feature/cachefilesd

Use nfs (Mac) or smb2 (Windows) synced folder types and set `cachefilesd: true` in `vagrant.yml`

In my own testing cachefilesd gave about 7.5% performance gain with NFS on Mac.

With SMB on Windows it did not do any good unfortunately - 6% slower when enabled.
Wh

[2015-09-25 06:46] xinity opened #45 "can't mount smb share"
hi ,

been trying to use smb folder, but everytime i try here's how it behave:

[code]

i created a local user named vagrant, configured properly the vagrant.yml and give full control over the directory i wan't to mount in my boot2docker.

still same behavior.
 it works with vboxsf, but fails with smb/smb2

configuration:
- host : windows 7 64 bits ,
- modules: powershell V3, babun, vagrant 1.7.4

[2015-09-25 08:01] jvandesande commented on #44
Thanks, I will try the feature branch and let you know what my experience is.

[2015-09-25 08:04] xinity commented on #45
ok found the culprit:
https://github.com/mitchellh/vagrant/commit/2557e5f3f8b4a132ea139c6edbc096bcf37185c6

here is what i have in debug mode:

[code]

i'll try with vagrant 1.7.3 and see how it works

[2015-09-25 12:40] xinity commented on #45
tried with vagrant 1.7.2 it's working fine, definitely related to 1.7.3+

[2015-09-25 13:37] lmakarov commented on #45
@xinity I've used smb2 a few days ago with the latest versions of Vagrant (1.7.4) and VirtuaBox (5.0.4) - worked just fine.
I think in your case there are some complications with the network adapters on your PC.

Try this:
- Switch to vboxfs, start the VM and `vagrant ssh` into it, then:
- Check the VM IP address: `ip addr | awk '/eth1/ && /inet/{sub(/\/.*$/,"",$2); print $2}'` - should be `192.16

[2015-09-28 06:29] xinity commented on #45
@lmakarov your host is windows 7 or windows 8 ?

[2015-09-28 14:57] lmakarov commented on #45
@xinity tested it on 2 Windows 8 computers.

[2015-09-29 22:14] lmakarov commented on #45
Tested today on Windows 7 - worked as well.

[2015-09-30 15:18] lmakarov commented on #16
Another option is to kill the entire adapter the default DHCP server is attached to (vboxnet0)

[code]

The adapter will be recreated when a machine restarts anyway.

[2015-09-30 16:02] lmakarov commented on #16
On Windows

[code]

[2015-10-01 00:58] lmakarov commented on #38
Ended up using dns-gen (dnsmasq + docker-gen) based solution instead of dnsdock.
Released in [v1.1.0](https://github.com/blinkreaction/boot2docker-vagrant/releases/tag/v1.1.0)

[2015-10-01 00:58] #38 closed, assigned to lmakarov

[2015-10-01 00:58] lmakarov commented on #16
Released in [v1.1.0](https://github.com/blinkreaction/boot2docker-vagrant/releases/tag/v1.1.0)

[2015-10-01 00:58] #16 closed, assigned to lmakarov

[2015-10-01 00:58] lmakarov commented on #19
Released in [v1.1.0](https://github.com/blinkreaction/boot2docker-vagrant/releases/tag/v1.1.0)

[2015-10-01 00:58] #19 closed, assigned to lmakarov

[2015-10-01 20:13] lmakarov opened #48 "Explore vagrant-gatling-rsync"
Explore if it makes sense to start using vagrant-gatling-rsync for the rsync shared folder option on Mac and Windows.

[2015-10-01 20:30] lmakarov opened #49 "Reconsider VirtualBox DNS proxy on/off"
We are currently turning these off:

[code]

I ran into two use cases where it would be better to keep them on:
1. Moving from one LAN to another will break DNS resolution

   B2D VM inherits the DNS server list from the host at boot. Moving into a different LAN (e.g. home <=> office) will mean a change of the network subnet and/or the DNS server IP address in most cases.
2. I had a really weird i

[2015-10-06 06:34] keelahnkhan commented on #21
I got this issue too. If I just did a `vagrant reload` it goes away the second time.

[2015-10-13 15:19] lmakarov opened #52 "Switch from NAT to private network for docker client"
This has been bugging me for a while and I finally found the answer.

Performance comparison of using the NAT vs the private network interface with the docker client (`docker build` in this case):

![vbox-docker-build-natvsprivate-performance](https://cloud.githubusercontent.com/assets/1205005/10458785/8ff53502-719a-11e5-8a65-aadfa7e4760b.gif)

So instead of pointing docker client to the NAT inter

[2015-10-16 08:09] r0ssIV opened #53 "Source code of blinkreaction/boot2docker box"
Hi Leonid,

Is it possible to seesomewhere the source of vagrant blinkreaction/boot2docker box ?

Is it build with packer or smth else? Looks like it is very close to what is included in DockerToolbox itself, but still different. Something similar can be found in dduportal/boot2docker-vagrant-box,
but it is still not so close.

[2015-10-16 13:15] lmakarov commented on #53
Hi @rivaros, sure, here you go:
https://github.com/lmakarov/boot2docker-vagrant-box/tree/docker-machine

I originally forked it from dduportal/boot2docker-vagrant-box, then replaced packer with docker-machine.
I guess I should clean it up and bring under /blinkreaction on Github.

[2015-11-03 12:13] r0ssIV commented on #53
Thanks for the hint & sorry for my late reaction. Your vagrant-box looks really great, and very close to original docker-machine box.

After dealing with it a little have got a chain of questions - do you personally use OSX or Windows + vagrant rsync folders as your dev setup? If yes, did you think about dropping off vagrant rsync-auto completely and using some more reliable rsync solution? And ac

[2015-11-03 14:40] lmakarov commented on #53
I'm on Mac and have a Windows laptop on my desk for testing purposes.

Can you list the options you have in mind?

I'm using NFS (the new experimental **nfs2** option) on Mac for my own needs. The performance is very close to native (e.i. using rsync).
I've also started looking closer at rsync as the recommended option for Windows users, since SMB has a noticeable performance impact.

It is for ou

[2015-11-04 17:08] lmakarov commented on #48
I've been testing rsync today and I do now see the sync lag when dealing with more that a single project / lots of files.

In my case I had 4 project folders configured with rsync totaling **83k files**. The sync lag can be **10-20s**, which is not going to fly for development needs.

Using https://github.com/smerrill/vagrant-gatling-rsync improves this substantially, bringing the lag down to the

[2015-11-04 17:09] lmakarov commented on #53
See https://github.com/blinkreaction/boot2docker-vagrant/issues/48 for using https://github.com/smerrill/vagrant-gatling-rsync as an alternative option for rsync.

[2015-11-05 11:52] r0ssIV commented on #53
Thanks for sharing info on your devops. About rsync - I spent already much time with it (since we work both on OSX and Windows, where nfs2 is not an option).

Here is my imho:
1.  Vagrant rsync comsumes sometimes too much resources and is badly written & supported. Really difficult to change the list of synced folders, since they are stored in .vagrant/synced_folders and only changed on vagrant re

[2015-11-05 13:13] achekulaev commented on #53
Nice to see some more Ukrainians here @rivaros
About your note

It looks like it is actually using native driver event model. See https://github.com/smerrill/vagrant-gatling-rsync/blob/master/lib/vagrant-gatling-rsync/listen/listenwindows.rb for reference

[2015-11-05 20:10] r0ssIV commented on #53
@achekulaev, greetings

Concerning gatling that's my own experience and also this thread mentions this
https://github.com/smerrill/vagrant-gatling-rsync/issues/12
Anyway I am not a fan of vagrant stuff any more.)

[2015-11-11 17:10] FatherShawn opened #59 "NFS on Mac"
NFS was failing to mount in Mac OSX. Further investigation showed that the vagrant box could not be pinged from host and the host could not be pinged from within the vagrant machine.  Removing these directories/files and re-installing got me back up.

[code]

[2015-11-12 15:34] FatherShawn commented on #59
This issue has spontaneously returned. And the steps above are now not restoring function.

[2015-11-12 16:22] FatherShawn commented on #59
This time I deleted/uninstalled virtualbox in addition to the deletions above and then

[code]

And it's working again

[2015-11-12 16:22] #59 closed, assigned to nobody

[2015-11-12 17:05] lmakarov commented on #59
@FatherShawn you don't have to install virtualbox via cask. The install prerequisites install script does this.

Glad this is working for you again.

One note - this repo does not use `dsh`. So anyone reading this - please follow the install and setup instructions in [README](https://github.com/blinkreaction/boot2docker-vagrant):

[2015-11-18 03:33] jmchuster opened #61 "VirtualBox GuestAdditions property timesync-set-threshold doesn't adjust syncing box time to host"
I'm trying to get the virtualbox to sync it's time with the host machine as described in these settings here: http://www.virtualbox.org/manual/ch09.html#changetimesync

modinfo vboxguest verifies that version 4.3.30 of VirtualBox Guest Additions is installed.

However, the following configuration in Vagrantfile seems to make no difference:
v.customize [ "guestproperty", "set", :id, "/VirtualBox/Gu

[2015-11-18 15:48] lmakarov commented on #61
@gingenhagen try updating to the latest VirtualBox 5.0+
We do not support/test on older versions.

[2015-11-23 22:42] jmchuster commented on #61
@lmakarov I pulled the latest version of the box and the time sync seems to be fast now.  Many thanks on the awesome project.  My team is super-dependent on this box until Docker decides to fix https://github.com/boot2docker/boot2docker/issues/593

[2015-11-23 22:42] #61 closed, assigned to nobody

[2015-11-24 16:33] lmakarov commented on #61
:+1: Glad it works for you :)

[2015-11-25 23:12] iturdikulov opened #62 "Feature request"
Is possible to add ubuntu as vm.box + needed script to install docker (optionaly, maybe as plugin)?

Reason - digitalocean vagrant plugin not support vagrant box integrations (maybe AWS too)... And looks like DO not contain boot2docker image + official box more secure for me xD (hashicorp/precise64).

Yes I know - ubuntu as basebox - overkill.

Anyway - my message is just question, maybe I will ju

[2015-11-25 23:17] iturdikulov commented on #53
@rivaros

Hey, what about unison?
https://keylocation.sg/blog/vagrant-and-unison-without-a-plugin/

[2015-12-01 14:58] lmakarov commented on #48
We are using https://github.com/smerrill/vagrant-gatling-rsync since [v1.3.0](https://github.com/blinkreaction/boot2docker-vagrant/releases/tag/v1.3.0)

Mac users get the added benefit of a automatic background sync job - `vagrant gatling-rsync-auto` is started automatically via triggers on up, resume, reload.

Windows users have to start **as well as kill** `vagrant gatling-rsync-auto`/`vagrant r

[2015-12-01 15:03] lmakarov opened #65 "Explore syncthing as a folder sync option"
[Syncthing](https://syncthing.net) is a relatively new kid on the block. It does bi-directional file sync and is cross-platform (Mac, Windows, Linux).
We will be exploring it as an alternative option to the rsync option we currently have available.

[2015-12-01 15:03] lmakarov commented on #53
I'm going to close this, since the original issue topic was addressed.
Please create new issues for further discussions about rsync/unison/etc.

We are now using vagrant-gatling-rsync by default. See https://github.com/blinkreaction/boot2docker-vagrant/issues/48#issuecomment-160990669
We are also exploring syncthing. See https://github.com/blinkreaction/boot2docker-vagrant/issues/65

[2015-12-01 15:03] #53 closed, assigned to nobody

[2015-12-01 15:04] #48 closed, assigned to lmakarov

[2015-12-01 15:05] lmakarov commented on #45
Closing as outdated. Please reopen if there are still issues.

[2015-12-01 15:05] #45 closed, assigned to nobody

[2015-12-01 15:15] lmakarov commented on #62
@inomoz are you trying to use vagrant with DigitalOcean instead of VirtualBox?

We are using a customized boot2docker VM, which gets generated by docker-machine using the official boot2docker.iso. It is then packaged as a base box for vagrant.
A lot of provisioning tasks in Vagranfile currently heavily depend on the way this base box works.

Using a different base box would mean forking and refact

[2015-12-01 15:15] #62 closed, assigned to nobody

[2015-12-28 13:00] xinity opened #66 "Use SMB vers=2.1 instead of vers=1.0 when mountain Windows shares"
hi,

reading a lot about smb support on linux kernel and windows 7/8, i found that shared folders using smb are mounted using smb vers=1.0 which far slower than smb >2

see here:
http://blogs.technet.com/b/josebda/archive/2008/12/09/smb2-a-complete-redesign-of-the-main-remote-file-protocol-for-windows.aspx

why not providing an option to use a better protocol than smb1 on windows computer ?

what

[2015-12-28 15:03] lmakarov commented on #66
Hi @xinity,

I did not realize there were different SMB protocol versions around...

Looks like they are up to SMB 3.0 in Windows 8:
http://blogs.technet.com/b/josebda/archive/2012/06/06/windows-server-2012-which-version-of-the-smb-protocol-smb-1-0-smb-2-0-smb-2-1-or-smb-3-0-you-are-using-on-your-file-server.aspx

Unfortunately, my quick googling did not bring any decent result on how exactly one

[2015-12-28 15:13] xinity commented on #66
kind of simple they are all activated by default :
windows 7 : smb protocol version supported 1,2,2.1
windows 8: smb protocol 3+

the server (windows hosts) talks to the client using the version supported by the client .
in our case (boot2docker vagrant) windows7 talks to the boot2docker VM (kernel v4+) using v1 (by default no option passed to mount using cifs protocol enforces version1), but can

[2015-12-28 22:03] lmakarov commented on #66
@xinity I tried those with no luck. Only `vers=1.0` would mount, all other versions will give an error, e.g.:

[code]

I assume the Tinycore Linux distro (used by boot2docker) only supports SMB 1.0 ...

[2015-12-28 23:02] xinity commented on #66
Strange as smb implementation is related to kernel version which is 4.0.9 on tiny core.....

I'll see what I can find

[2015-12-29 01:12] achekulaev commented on #66
@lmakarov
possible solutions
1) check the case (is it //192.168.10.1/projects or //192.168.10.1/Projects?
2) try adding `sec=ntlm` option

[code]

3) try adding unc option

[code]

4) try mounting without `uid`, `gid`
5) sometimes it helps to
`sudo apt-get install cifs-utils` and then remount

[2015-12-29 06:16] xinity commented on #66
thanks alexei,

i'll try mouting this morning and so how it goes

i'll let you know guys,

Le mar. 29 déc. 2015 à 02:12, Alexei Chekulaev notifications@github.com a
écrit :

[2015-12-29 16:53] xinity commented on #66
update:
it seems to be related to tinycore itself, tried with a fresh debian weezy and mounting a cifs shared folder with option : vers=2.1 works perfectly

[2016-01-06 16:03] xinity opened #67 "|| non valid parameter"
since latest release , everytime i do a `vagrant up`

i have an error saying that `||` isn't a correct parameter.
this parameter is using in the vagrantfile to create the useraccount and the network share (smb windows).

how to fix ? any clue ?

[2016-01-08 21:33] lmakarov commented on #66
So I tried this with `mount.cifs` (via the cifs-utils, which had to be installed manually because of the unmet dependencies):

[code]

The result is the same - I'm not able to set the `vers` parameter to anything other than `1.0`
Also tried misc options @achekulaev suggested in https://github.com/blinkreaction/boot2docker-vagrant/issues/66#issuecomment-167689413

@xinity did you do some tests to c

[2016-01-08 23:45] lmakarov commented on #67
@xinity I'm not getting this on Windows. Can you take a screenshot?

[2016-01-08 23:47] lmakarov commented on #32
After many attempts to get this to work with different options I'm going to close this as won't fix.

[2016-01-08 23:47] #32 closed, assigned to nobody

[2016-01-11 16:56] xinity commented on #67
juste paste any command from the vagrantfile which uses '||' in your powershell

tested with windows 8 today, same error :(

[2016-01-11 17:25] lmakarov commented on #67
@xinity, we only support Babun shell on Windows as noted in the README:

Do you run into such issues in Babun?

[2016-01-12 14:15] xinity commented on #66
until, we haven't found (very strangely) any performance boost switching from smb1 to smb2 ou smb2.1 (using debian jessie VM with docker installed).

FWIW tinycore seems to be too restrictive and not docker oriented, maybe we can switch to coreOS ou rancherOS which uses docker built-in ....

[2016-01-12 14:18] xinity commented on #67
I can't trap them as powershell sub commands are wrapped,
but it seems these command still fails even using babun.

[2016-01-14 09:23] Koriit commented on #66
@lmakarov
Regarding performance. Many devs passionately explain that 'CIFS != SMB != SMB2' _like_ they have almost nothing in common. As a matter of facts I just took it for word but just now was able to find some SMB2 vs SMB tests.

Daniel Schuhmann wrote(actually that was almost 9 years ago!):

Meaning SMB1 in the very concept is just slow, according to today's standards.

The same man also run

[2016-01-14 10:04] xinity commented on #66
@Koriit we run some tests using a debian jessie with the docker engine installed and made some performance test.
we found (strangely) that cifs version higher then version1 seems to be slower !!
cifs v1 ~ 20sec
cifs v2+ ~ 35sec

test were made with symphony apps

i can't figure out why , if you guys have any clues, please share with us :)

[2016-01-14 10:24] Koriit commented on #66
@xinity I understand that you are sharing between linux and win hosts, then linux uses cifs mount with vers=2.0/2.1 and what about windows? Which windows and how configured is the SMB protocol? As far as I know Win7 has support for SMB in versions 1.0, 2.0, 2.1 and probably 2.2 which is almost equivalent to 3.0. Then, Win7 should seamlessly adjust to the connected peer but I don't know how it work

[2016-01-14 10:30] xinity commented on #66
windows 7 host (server) and linux (client)
tests made using cifs vers option : 1.0 , 2.0 and 2.1
--> windows 7 doesn't support 2.2 (vers3.0) and higher

we have also adjusted parameters of SMB on windows like max queue et frame size, to allow bigger transfer

the server adjust regarding options used on the client.

[2016-01-14 10:39] Koriit commented on #66
What volumes of data were you sharing?

[2016-01-14 10:52] xinity commented on #66
several GB from 2 to 5gb at max !

Le jeu. 14 janv. 2016 à 11:39, Aleksander Stelmaczonek <
notifications@github.com> a écrit :

[2016-01-14 10:55] Koriit commented on #66
Then I have no other ideas. Might be funky implementation, some other related(or not) mechanisms or environment or anything, rly. :/

[2016-01-20 07:46] eelkeblok opened #69 "Running dsh in vagrant box: tput: command not found"
I tried running the example from drude-d7-testing in boot2docker-vagrant. The first problem I encountered, which the instructions do not mention (I'll see if I can come up with a good pull request), is that there is an example docker-compose file that needs to be copied and renamed for things to work.

However, I then run into this error:

[code]

Is this a missing dependency in the vagrant box? O

[2016-01-20 15:51] lmakarov commented on #69
@eelkeblok this issue should be filed under https://github.com/blinkreaction/drude

To keep things short - I just pushed a release that will address both of the issues.
Please update dsh with `dsh self-update` and try again.

If you still run into problems - open an issue in https://github.com/blinkreaction/drude

[2016-01-20 15:51] #69 closed, assigned to nobody

[2016-01-20 15:52] lmakarov commented on #52
Resolved in 6274a811a4a47435b53967efaaa5e7d72a7745be. Released in [v1.4.0](https://github.com/blinkreaction/boot2docker-vagrant/releases/tag/v1.4.0)

[2016-01-20 15:52] #52 closed, assigned to lmakarov

[2016-02-04 10:19] Entaro opened #70 "Windows 10 shared folders with smb2"
Hello,

this vagrant box is really great, docker apps with shared folders works really fast on Mac, however i have problems with mounting shared folders on windows 10. I am doing everything according to documentation vagrant box starts properly i have access to docker in command line my docker-compose file starts containers correctly but when I try to enter inside container using docker exec share

[2016-02-04 13:56] lmakarov commented on #70
Hi @Entaro, I'm testing this project primarily on a Windows 10 laptop, so it does work with Windows 10 for sure :)

Do you get any errors when the VM boots related to not being able to mount the SMB share?
Do you see the mounted folder in the VM itself? Do a `vagrant ssh` and check `mount`.

[2016-02-04 23:51] Entaro commented on #70
@lmakarov i don't see any errors when VM boots.
I see mounted folders in the VM, but when I run containers with docker-compose up -d they are not present in container. However i tried to run docker-compose up -d from inside vagrant and it worked.

Now I am experiencing another issue after about 30 minutes of work something happens and docker is no longer available on windows host, when i try to ru

[2016-02-05 14:34] lmakarov commented on #70
@Entaro as for the mounts - you most likely have the volumes defined wrong in the `docker-compose.yml` file. It is best to define volume mappings using relative paths, e.g.:

[code]

As for the networking issue, see [this](https://github.com/blinkreaction/boot2docker-vagrant/blob/develop/docs/troubleshooting.md#various-networking-issues) and let me know whether that fixes the issue for you.

[2016-02-09 14:04] Entaro commented on #70
I have my volumes defined using relative paths. This is my folder structure (screenshot is from mac but i have the same structure on windows)
![screen shot 2016-02-09 at 14 59 29](https://cloud.githubusercontent.com/assets/526482/12918153/d379f05a-cf3d-11e5-96e2-4d1474ec2f12.png)

and here is my compose configuration

[code]

In terms of networking issue i can enter to VM console.

[2016-02-12 03:27] achekulaev commented on #67
@xinity I guess this will not move forward without screenshots or better screencast (you can use Jing or Monosnap free utlis for that)

[2016-03-22 21:16] lmakarov commented on #67
Closing for the lack of feedback. Feel free to reopen.

[2016-03-22 21:16] #67 closed, assigned to nobody

[2016-03-22 21:45] lmakarov commented on #66
I did some testing with the `debian/jessie64` Vagrant box on a Windows 10 host.
1. All SMB protocol versions seem to work (v1.0, 2.0, 2.1, 3.0)
2. There was no notable difference in performance between different versions (using Drupal CMS site install as a test case)

Strangely, the debian box overall performance was slower than the TinyCore one in the same test case.
Both had 2GB of RAM allocated

[2016-03-22 21:49] lmakarov commented on #70
@Entaro is this still a relevant issue for you?

[2016-03-23 02:06] luispabon opened #72 "Vagrant seems unable to "reload" this box"
I've been using your box for quite a while here over at [phpdocker.io](phpdocker.io), it's been an absolute godsend. I've been experiencing the following however.

I'm not exactly sure where to report the issue as obviously this repo is for your share-optimised Vagrantfile, and the issue might be on the box itself.

Always get this error:

[code]

When I query vagrant on the machine status, it is

[2016-03-23 14:39] lmakarov commented on #72
Hi @luispabon

I've removed all shares and provisioning from your Vagrantfile:

[code]

This works without any issues on my Mac. Check this on your setup.

BWT why do you need Vagrant on Ubuntu to run docker?
We use this setup for our Mac and Windows user. Those on Linux can run containers directly.
With the default `vboxsf` synced folder option, that you are using, the performance impact should b

[2016-03-23 14:42] luispabon commented on #72
Thank you @lmakarov, I'll try this shortly.

I don't run my containers on vagrant on Ubuntu, I run them directly on bare metal for the reasons you stated. Roughly 70% of [phpdocker.io](phpdocker.io)'s visitors are either on Mac or Windows, and it's for them we also generate a Vagrantfile using blinkreaction's boot2docker box.

I'm currently adding support for NFS and SMB to PHPDocker.io.

[2016-03-25 21:13] smazurov opened #73 "Docker 1.10"
[Docker 1.10](https://blog.docker.com/2016/02/docker-1-10/) has been out for about a month and a half, any chance of upgrading to it? With it comes new format for `docker-compose` as well.

[2016-03-28 18:12] lmakarov commented on #73
I had some weird issue with the 1.10 build of the base box and put it on hold a while back.

Also, since docker now comes with it's own embedded DNS server and new networking model, it will take some time to rethink the approach to DNS that this project is using (via https://github.com/blinkreaction/docker-dns-discovery).

No particular dates so far, but this is in the queue.

[2016-03-31 10:58] Entaro commented on #70
I stopped experimenting with it on windows, now I am mostly working on Mac and everything works fine there.

[2016-03-31 10:58] #70 closed, assigned to nobody

[2016-04-04 14:14] lmakarov commented on #73
This is now available in `develop` via https://github.com/blinkreaction/boot2docker-vagrant/commit/9240ca1bb3c4522ce5a9497805c36853df025ddd

Please test the new base box and let me know if you run into any issues.

[2016-04-24 06:58] 34code commented on #13
This is happening again after virtualbox upgrade with new docker-toolbox package -- making life super slow

[2016-04-25 14:40] lmakarov commented on #13
@34code what do you mean `new docker-toolbox package`?

Please run the following and post here

[code]

[2016-04-30 18:46] 34code commented on #13
I mean v1.11.1 here: https://github.com/docker/toolbox/releases

[2016-05-18 15:53] lmakarov commented on #73
Available since [v1.5.0](https://github.com/blinkreaction/boot2docker-vagrant/tree/v1.5.0)

[2016-05-18 15:53] #73 closed, assigned to nobody

[2016-05-18 15:56] lmakarov commented on #72
I'm going to close this, since the issue was apparently with a custom Vagrantfile.
@luispabon feel free to reopen if necessary.

[2016-05-18 15:56] #72 closed, assigned to nobody

[2016-05-18 15:59] lmakarov commented on #49
Revised this in https://github.com/blinkreaction/boot2docker-vagrant/commit/c9adb8d2325eb2c6d87e4ac36de26462aadec39f
See the diff for details.
Released in [1.5.0](https://github.com/blinkreaction/boot2docker-vagrant/tree/v1.5.0)

[2016-05-18 15:59] #49 closed, assigned to nobody

[2016-05-24 01:21] achekulaev opened #76 "Append 'drude.system' label to dns and reverse proxy containers"
Currently `blinkreaction/nginx-proxy` and `blinkreaction/dns-discovery` images lack `system` label.
This means that `dsh stop --all` will stop them as well, which is not desired.

**Proposal:** append `drude.system` label to images. https://docs.docker.com/engine/userguide/labels-custom-metadata/

[2016-05-24 01:21] achekulaev commented on #76
![no-labels](https://cloud.githubusercontent.com/assets/402007/15489267/58eb85ec-212c-11e6-929d-145573ec6a5c.png)

[2016-07-19 10:01] Meuk opened #83 "Vagrant and VirtualBox version incompatibility problems"
Hi,

We've recently updates our docker machines here, and we're running into the issue that the .ssh folder cannot be mounted, thus stopping the whole vagrant up proces. The error is

when running the commands

in the guest, we're getting the following error

[2016-07-19 17:36] gnoesiboe commented on #83
+1

[2016-07-20 14:29] Meuk commented on #44
@jvandesande any progress?

[2016-07-21 07:52] jvandesande commented on #44
I've tested this a long time ago. From what I can recall, my experience with Windows was the same as @lmakarov , it was not reliable. I think @gnoesiboe tested it on Mac OS.

[2016-07-28 07:49] Tset-Noitamotua opened #84 "Vagrant is not on PATH"
I followed all steps from README on a Windows 10 machine running in virtualbox.
On the final step where I have to run

[code]

I got the error: `vagrant: command not found`

So I had to put vagrant on PATH manually with

[code]

[2016-07-28 09:27] Tset-Noitamotua opened #85 "Known Bug in Vagrant 1.8.5"
May be it´s better to force vagrant version 1.8.4 installation because of known [issue #7610](https://github.com/mitchellh/vagrant/issues/7610) in vagrant 1.8.5 which will be fixed with [release 1.8.6](https://github.com/mitchellh/vagrant/milestone/18) in September 2016?

[2016-07-28 11:16] Tset-Noitamotua commented on #84
Its possible that I just had to restart babun.

[2016-07-28 13:53] Tset-Noitamotua commented on #85
vagrant 1.8.4 seems not to be a good option as well because it complains about the newest version of virtualbox (which is 5.1.2) but it demands virtualbox verstion up to 5.0 resulting in error: can´t find virtualbox.

[2016-07-28 14:03] Tset-Noitamotua commented on #85
Trying to run this out of the box on a fresh Windows 7 I end up with Vagrant version 1.8.5 and Virtualbox version 5.1.2 and the above mentioned know issue in recent vagrant.

 Having played with this since today early in the morning I am ready to make a break. I hope the world look better tomorow :)))) Appreciate any hints and ideas!

[2016-07-29 05:43] #84 closed, assigned to nobody

[2016-07-29 05:55] Tset-Noitamotua commented on #85
new day ... new try ...
1. downgraded to vagrant 1.8.4 and manually installed virtualbox 5.0.26
2. ran `bash <(curl -s https://raw.githubusercontent.com/blinkreaction/boot2docker-vagrant/master/scripts/setup.sh)`
3. got some error messages (see screenshots below)
4. `vagrant ssh` into boot2docker
5. works! YEAH!

![image](https://cloud.githubusercontent.com/assets/5635462/17239070/8a171924-5561-11

[2016-08-01 06:06] gnoesiboe commented on #83
Does anyone have a solution yet? Even if it's just a temporary solution/workaround?

[2016-08-03 00:07] achekulaev commented on #85
Hey. Thanks for report. There's indeed a problem with Vagrant at the moment

[2016-08-03 22:57] lmakarov commented on #83
@Meuk, @gnoesiboe what are your VirtualBox and Vagrant versions, also your OS (Mac or Windows)?
There are issues with newer version incompatibilities between VirtualBox, Vagrant and boot2docker.iso.

The following combination should work:
- Vagrant 1.8.4
- VirtualBox 5.0.24

Try this for downgrading on Windows via choco:

[code]

Unfortunately on Mac cask does not support version selection, so you

[2016-08-03 23:03] lmakarov commented on #85
@Tset-Noitamotua the error on your 2nd screenshot resulted from a DNS resolution issue.
It might have been one time. Are you still experiencing it?

[2016-08-04 06:50] gnoesiboe commented on #83
@lmakarov I was running the latest versions of Vagrant (1.8.5) and VirtualBox (5.1.2), combined with the 'develop'-branch state of your `vagrant.yml` and `VagrantFile`, on mac.

Last night I downgraded to:
- Vagrant 1.7.4
- VirtualBox 5.0.26
- `vagrant.yml` and `VagrantFile` of `v1.6.2`

And got it to work again for now. Hope this helps you to reproduce the problem :)

[2016-08-04 17:45] lmakarov commented on #83
Vagrant 1.8.5 should be compatible with the latest VirtualBox 5.1.2 release, however VirtualBox Guest Additions version we currently have is 5.0.20 and the latest boot2docker release is at 5.0.24. Both will most likely have issues with VirtualBox 5.1.2.

So for now avoid VirtualBox 5.1.x and stick with:
- Vagrant 1.7.4 - 1.8.4
- VirtualBox 5.0.x

We can get versions locked for Windows users in dsh

[2016-08-05 11:40] Tset-Noitamotua commented on #85
@lmakarov  you are right ... I tried again from scratch and saw the error only one time on initial start.

It even works`***` from [cmder](http://cmder.net/) (manual start without setup.sh).

![image](https://cloud.githubusercontent.com/assets/5635462/17434828/fb0c18b8-5b0c-11e6-8bab-3be980e0e8e0.png)

`***` cmder works with some limitations:

![image](https://cloud.githubusercontent.com/assets/56

[2016-08-16 07:47] martinbroos commented on #83
I tested this with:
- Vagrant 1.8.4
- VirtualBox 5.0.26

Everything works again as expected. Thanks for the help.

[2016-08-29 11:22] tdroenner commented on #83
It still doesn't work with the new blinkreaction/boot2docker 1.12.1 image

[2016-08-29 17:21] lmakarov commented on #83
@tdroenner what OS are you on and what's the error that you are getting?

[2016-08-29 17:28] tdroenner commented on #83
Windows 10. It's the same error as the first post:
==> boot2docker: Mounting shared folders...
boot2docker: /.ssh => /Users/gnoesiboe/.ssh
Vagrant was unable to mount VirtualBox shared folders. This is usually
because the filesystem "vboxsf" is not available. This filesystem is
made available via the VirtualBox Guest Additions and kernel module.
Please verify that these guest additions are properl

[2016-08-29 17:37] lmakarov commented on #83
Yeah, I just finished testing on Windows 10 and Mac - same error:

[code]

Even if all custom mounts are removed (`.ssh` and `.home`) it would still choke on the default one (`vagrant`):

[code]

This issue is unrelated to the Guest Additions version and I was not able to find too many mentions of this issue online (quite surprised).

So looks like sticking with the older versions or vagrant and v

[2016-08-30 22:16] lmakarov commented on #83
I have finally figured out what the problem was.

Vagrant v1.8.5 is to be blamed for this. In particular this commit and line - https://github.com/mitchellh/vagrant/commit/7e88266999e0eaf86299421e99a4fb038b4f2b1c#diff-97d643b35101562477f4b556a379415fR14

Looks like they refactored it once again in master - https://github.com/mitchellh/vagrant/commit/dd6ad2fbf3bc935dbb127bf5552dcc5990b8e3e6
The fix

[2016-08-30 22:16] #83 closed, assigned to nobody

[2016-09-19 18:36] lmakarov opened #88 "Use --force with brew install?"
Looks like brew/cask may not always detect updates.

[code]

We may have to force the install in order to get things updated for existing users:

[code]

https://github.com/blinkreaction/boot2docker-vagrant/blob/develop/scripts/presetup-mac.sh#L31
https://github.com/blinkreaction/boot2docker-vagrant/blob/develop/scripts/presetup-mac.sh#L38

The downside of this is a full reinstall every time prere

[2016-09-20 17:42] lmakarov opened #89 "Windows 7: Remote I/O error"
[code]

The following fixes the issue:
http://www.linuxquestions.org/questions/linux-server-73/mount-cifs-cannot-allocate-memory-or-remote-i-o-error-after-data-transfer-4175508385/#post5246812

[code]

After updating the following to registry entries SMB mount is working.

Changing the 3rd key (as per the thread linked above) was not necessary, but might help someone, so here it is (create it if i

[2016-09-21 03:36] achekulaev commented on #88
@lmakarov can be closed

[2016-10-07 05:31] lmakarov commented on #89
Another reference with the same recommendations and details on what those 1 and 3 values mean.
http://serverfault.com/questions/235032/intermittent-connection-to-windows-7-shared-folder-from-windows-xp-workstations/236393#236393

[2016-11-17 14:54] Krafcu opened #90 "Can't configure network interfaces"
Hi,
just tried this solution for working with vagrant and docker. Did a clean install using pre-instalation scripts on osx and all went fine until last step of running the machine. I got this vagrant error:

[code]

[code]

[2016-11-17 15:37] Krafcu commented on #90
Seems like there is problem with Vagrant 1.8.7
1.8.6 works fine on that matter.

[2016-11-17 21:28] lmakarov commented on #90
@Krafcu, thanks for reporting this.

Per https://github.com/mitchellh/vagrant/issues/6426#issuecomment-245733874 can you try replacing the following in the `Vagrantfile` and test is with both Vagrant 1.8.6 and 1.8.7?

Before

[code]

After

[code]

If that works, I will push a hotfix release.

[2016-11-18 12:03] Krafcu commented on #90
@lmakarov Thanks for suggestion. It did indeed fix the problem with the vagrant box not comming up however now using DHCP setting it created box with IP 192.168.10.3 and not 192.168.10.10 defined in yml config. So now I would have to manually change the DOCKER_HOST variable export and im not sure this IP will not change after rerurnig the box. What do you think?

[2016-11-18 16:28] lmakarov commented on #90
You can certainly do an `export DOCKER_HOST=tcp://<IP>:2375`, but realistically, a dynamic IP is not really what we want.
I'd recommend sticking with Vagrant 1.8.6 in this case.

[2017-01-31 17:34] #76 closed, assigned to lmakarov

[2017-02-20 10:43] rlataguerra opened #91 "problem with capability change_host_name"
with vagrant 1.9.1
on OSX 10.11.6

The problem is not present with vagrant 1.7.4

[2017-02-24 09:17] krzysztof-kabala opened #92 "Vagrant attempted to execute the capability 'configure_networks'"
Mac: 10.12.3
[code]

[2017-07-06 09:28] shripatel commented on #66
Thanks, @lmakarov https://github.com/lmakarov
Your, possible solutions solved our trouble.

[2018-02-26 10:39] fabricek commented on #66
Thanks, @lmakarov who help me to solve the problem. Better than installing an old samba protocol (v1.0), it's better to compile a new boot2docker iso which contents new samba version 2 and above. Go to https://github.com/boot2docker/boot2docker and clone the project. Modify the kernel.config file to enable samba 2. Set CONFIG_CIFS_SMB2=y. Build the docker image as usual and get the new boot2docker

[2018-02-27 23:32] lmakarov commented on #66
@fabricek huge thanks for pointing to the `CONFIG_CIFS_SMB2=y` kernel option!
After building a custom `boot2docker.iso` image with that kernel flag enabled it is indeed possible to use the `vers=2.1` argument and mount Windows host shares via SMB2.

Using `vers=3.0` does not work, even though `CONFIG_CIFS_SMB2=y` should be covering that as well ([reference](https://cateee.net/lkddb/web-lkddb/CIFS_

[2018-02-28 11:35] fabricek commented on #66
I think we have to update the linux kernel in dockerfile to have vers=3.xx working. I thought modify  the dockerfile with this value "ENV KERNEL_VERSION  4.4.116" to the last version. You can see it at https://www.kernel.org/pub/linux/kernel/v4.x and linux-4.9.9.tar.gz for example. So ENV KERNEL_VERSION should be 4.9.9  in dockerfile. Take a look at it.
Anyway i didn't do that because i don't know

[2018-10-18 05:59] #66 closed, assigned to lmakarov

[2018-11-21 07:03] sulikdada commented on #66
Mountain :D